/*
    Authors: Kevin Phung, Kyosuke Imai
*/

.addPlaylistButton{
  height:50px;
  width: 400px;
  display: block;
  color:#white;
  font-size:10pt;
  font-weight:bold;
  border: 3px solid #66FCF1;
  background-color: #black;
}
header .addPlaylistButton:hover{
  background-color:#66FCF1;
  color:black;
}
.overlay {
  height: 100%;
  width: 100%;
  left:100px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

/* The content */
.overlay-content {
  display: block;
  position: relative;
  top: 50%;
  float:center;
  width: 30%;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 100px;
  cursor: pointer;
  color: white;
}

.addPlaylistButton{
  font-size: 20px;
  cursor: pointer;
}


.overlay .closebtn:hover {
  color: #45A29E;
}




/* upload background image, specify font,size, & position */
.title{
  font-size: 50px;
}

.allPlaylists{
  color: black;
  background-color: white;
}

/*
specify attributes of the search_button */
#create_playlist{
  /* border: 3px solid #grey;
  background-color: #white; */
  height:50px;
  width: 85px;
  display: block;
  color:white;
  font-size:15pt;
  float: right;
  border: 2px solid #66FCF1;
  background-color: #1F2A33;
}
/* specify attributes of the search bar  */
#input_playlist_name{
    /* border: 2px solid grey; */
    font-size:18pt;
    font-weight: 30px;
    height:50px;
    width: 600px;
    color: black;
    border: 3px solid #66FCF1;
    background-color: #C5C6C7;
    opacity: 0.8;
    /* different color */
    /* border: 1px solid #66FCF1;
    background-color: #1F2A33; */
}




#SubHeader{
  margin-top: 25px;
  color: white;
  background-color: #45A29E;
  /* color:#1F2833; */
  /* color:#66FCF1; */
  /* background-color: #C5C6C7; */
}

#TopHeader{
  color: #45A29E;
  text-decoration:underline;
}

body h4{
  font-size: 40px;
  color: white;
}


body {
  margin: 40px;
  size: 100%;
  font-family: Helvetica;
  /* background: #41B3A3; */
  background: #45A29E;
  background-image: url("bg.jpg");
  opacity: 0.7;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* specify the font size, position, and text color of quote in body object */

header .playlists .DDM-content{
  opactiy: 0.7;
  background-color: black;
}

header #create_playlist:hover{
  background-color:#66FCF1;
  color:black;
}
/* specify attributes of the top panel object located in the top of the web page */
header .TopPanel{
  display:fixed;
  /* background-color: #E27D60; */
  background-color: #1F2A33;
  border-width: 100px;
  text-align: left;
  padding: 20px;
  /* font-family:Impact; */
  font-family: Arial.;
  /* font-family: Garamond.; */
  font-weight:bold;
  font-size: 20px;
  /* color: black; */
  color:#66FCF1;
  width: 100%;
  height: 30%;
  /* background-image: url("panel.jpg"); */
}

header .topnav{
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
}

header .topnav a{
  color: white;
  margin-left: 8px;
}

header .topnav a:hover{
  color:#66FCF1;
  background-color: transparent;
}

header .DDM-content{
  display:none;
}

header .topnav .playlists a:hover + .DDM-content{
  display:block;
}



/* create flex block consisted of search category drop down menu,
search bar, and search button to position on same plane/row. */
header .overlay .overlay-content .flex-container{
  display: flex;
  flex-direction: row;
  float:center;
  flex-wrap: nowrap;
  align-self: center;
  gap: 12px;
  /* justify-content: center; */

}



#playlist_table{
  width:100px;
}

thead th{
  width:500px;
  height:60px;
  font-size:20px;
  background: #000033;
  border: 1px solid #66FCF1;
  /* font-family:Georgia; */
}
tbody td{
  font-size: 30px;
  width:500px;
  height:50px;
  text-align:center;
  border: 3px solid #66FCF1;
  /* font-family:Georgia; */
}
table.sortable tbody tr:nth-child(2n) td {
  opacity: 0.6;
  background: #002147;
  /* color:#66FCF1; */
  color: #F0F8FF;
}
table.sortable tbody tr:nth-child(2n+1) td {
  opacity: 0.6;
  /* color: #66FCF1; */
  background: #002e63;
  color: #F0F8FF;
}
table.sortable thead {
    opacity: 0.9;
    background-color:#707070;
    color: #F5F5F5;
    font-weight: bold;
    cursor: default;
}
table.sortable tbody:hover{
  background-color: #white;
}

body .playlists_table_body tr .button{
  background-color:#red;
}
/* table.sortable tbody td:hover{
  background-color: #red;
} */
#playlists_table_body td:hover{
  color:#00FFFF;
  text-decoration: underline;
  font-size:32px;
}
