<!DOCTYPE html>
<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <h3>Spotify Advanced Search Home Page</h3>
    <p><input id="search_string" type="text" placeholder="Search song name here" />
    </div>
    <p><button id="search_button">search</button></p>

    <ul id="songs_list"></ul>

</body>
</html>
