 <!-- Authors: Kevin Phung, Kyosuke Imai   -->
<!DOCTYPE html>
<html lang = "en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>
<header>
  <div class="TopPanel">
  <h3 class = "title", id="top_header">Spotify Music <br/>  Advanced Search  <br/> Home Page</h3>
  <div class="flex-container">
    <div>
      <div class = "DropDownMenu" id = "DropDownMenu">
        <select class="DDButton" id = "DDButton">
        <div class = "DDContent" id = "DDContent">
          <option value = "default"> Choose a Category </option>
          <option id = "DDSong" value = 'song' >Song Name </option>
          <option id = "DDArtist" value = 'artist' >Artist Name </option>
          <option id = "DDGenre" value = 'genre' >Genre Name </option>
        </div>
        </select>
      </div>
    </div>
    <div>
        <p><input id="search_string" type="search" placeholder="Please Choose Category first" />
    </div>
    <div>
        <p><button type="submit" id="search_button">Search</button></p>
    </div>
  </div>


  <nav class="topnav">
    <!-- <a class="active">Home</a> -->
    <a>Home</a>
    <div class = "playlists">
      <!-- <a onclick="go_to_playlists_page()">Your Playlists</a> -->
      <a href="/api/playlist_menu_page">Your Playlists</a>
        <!-- <div class = "DDM-content" id = "DDM-content">
          <p id="playlist1"> Playlist1 </p>
          <p id = "playlist2"> Playlist2 </p>
        </div> -->
    </div>
    <a href="/api/data_visualizer">Data Visualizer</a>
    <a href="/api/help  ">Help</a>


  </nav>


</header>

<body>
  <h2 class = "quote" id="page_quote" >  Music is life itself. <br/> <em>-Louis Armstrong</em>  </h2>

  <div id = "divider_for_home">
    <table class="sortable" id="search_results_table_song" style="display:none">
      <thead id="header_song" >
        <tr>
       <th style="width:20%">Song Name</th>
       <th style="width:15%">Artist</th>
       <th style="width:5%">Release Year</th>
       <th style="width:10%">Popularity</th>
       <th style="width:10%">Tempo</th>
       <th style="width:10%">Duration</th>
       <th style="width:10%">Danceability</th>
       <th class="sorttable_nosort" style="width:20%">Add to Playlist</th>
      </tr>
   </thead>
 <tbody id="search_results_body_song"></tbody>

 </table>


 <table class="sortable" id="search_results_table_artist" style="display:none" >
   <thead id="header_artist" >
     <tr>
    <th>Song Name</th>
    <th>Artist</th>
    <th>Release Year</th>
    <th>Popularity</th>
    <th>Tempo</th>
    <th>Duration</th>
    <th>Danceability</th>
    <th>Artist Tempo (avg.)</th>
    <th>Artist Duration (avg.)</th>
    <th>Artist Danceability (avg.)</th>
    <th class="sorttable_nosort">Add to Playlist</th>
   </tr>
</thead>
<tbody id="search_results_body_artist"></tbody>

</table>

<table class="sortable" id="search_results_table_genre" style="display:none">
  <thead id="header_genre" >
    <tr>
   <th>Song Name</th>
   <th>Genre</th>
   <th>Artist</th>
   <th>Release Year</th>
   <th>Popularity</th>
   <th>Tempo</th>
   <th>Duration</th>
   <th>Danceability</th>
   <th>Genre Tempo(avg)</th>
   <th>Genre Duration(avg)</th>
   <th>Genre Danceability(avg)</th>
   <th class="sorttable_nosort" >Add to Playlist</th>
  </tr>
</thead>
<tbody id="search_results_body_genre"></tbody>

</table>

</div>

<div id = "divider_for_playlists">
<table class="sortable" id="playlist_table" style="display:none" >
  <thead id="header_playlist" >
    <tr>
   <th>Song Name</th>
   <th>Artist</th>
   <th>Release Year</th>
   <th>Popularity</th>
   <th>Tempo</th>
   <th>Duration</th>
   <th>Danceability</th>
   <th class="sorttable_nosort">Delete from Playlist</th>
  </tr>
</thead>
<tbody id="playlist_body"></tbody>

</table>
</div>

</body>
</html>
